@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto_Condensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto_Condensed-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto_Condensed-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.conteiner {
  max-width: 1140px;
  margin: 0px auto;
  padding: 0px 20px;
}
.logo {
  transition: opacity 1s ease; 
  padding: 16px 0px;
}
.logo:hover {
opacity: 0.8;

}
.logo:active {
  opacity: 0.6;
}
.sayt-header {
  background-color: #fff;
border-top: 5px solid #ff7500;
padding: 16px 0px;
}

.sayt-header-nav {
  display: flex;
  align-items: center;
}
.header-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
 margin-right: 31px;
}
.where-am-i {
  border-bottom: #ff7500 solid;
}
.nav-li {
  margin-right: 31px;
}
.nav-li:last-child {
  margin-right: 0px;
}
.saytnav-link {
  font-family: var (--font-family);
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 1s ease,
  opacity 1s ease;
  padding: 12px 0px;
}
.saytnav-link:hover {
 color: #ff7500 
}
.saytnav-link:active {
  opacity: 0.6;
  color: #ff7500;
}

.main-link {
  background-color: #ff7500;
  color: #fff;
  text-decoration: none;
  transition: color 1s ease,
  opacity 1s ease;
  padding: 12px 24px;
  display: inline-block;
border-radius: 4px;
}
.main-link:hover {
  color: #ffff;
  opacity: 0.8;
}
.main-link:active {
  color: #ffff;
  opacity: 0.6;
}
.hero-section {
  background-color: #252420;
  margin-bottom: 210px;
}
.hero-hero-text2 {
  margin-bottom: 32px;
}
.hero-text {
  width: 390px;
  color: #fff;
}
.hero-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
  border: 0;
}
.hero-line {
  margin-bottom: 40px;
}

.hero-title {
  font-family: "Roboto Condensed";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.5px;
margin-bottom: 24px;
}

.hero-text2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;

}

.hero-section-pythonbook {
  justify-content: end;
}
.python-book-shadow {
  box-shadow: 24px 24px 0 0 #ff750099;
  border-radius: 10px;
}
.feature-section {
  padding: 210px 0px;

}
.feature-line {
  margin-bottom: 24px;
}
.feature-title {
  font-family: "Roboto Condensed";
  color: #000;
  font-size: 72px;
  font-weight: 700;
  line-height: 86.4px;
  letter-spacing: 0.5px;
  text-align: left;
margin-bottom: 72px;
}

.feature-list {
  width: 340px;
  color: #000;
  margin-right: 40px;
}
.feature-icon1 {
  margin-bottom: 32px;
}
.feature-icon2 {
  margin-bottom: 32px;
}
.feature-icon3 {
  margin-bottom: 32px;
}
.feature-item-title {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
}

.feature-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;

}

.sale-content {
  width: 1100px;
  padding: 64px 64px;
}
.padding-for-imgsale {
  padding-right: 64px;
}
.sale-title {
  font-family: "Roboto Condensed";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.5px;
margin-bottom: 24px;
}

.sale {
  background-color: #252420;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 160px;
}

.orange-color {
  color: #ff7500;
  font-weight: 700p;
}

.sale-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.sale-p1 {
  margin-bottom: 12px;
}
.sale-p2 {
  margin-bottom: 24px;
}
.sale-link {
  margin-bottom: 64px;
  border-radius: 4px;
}
.sale-img-border {
  border-radius: 12px;
}

.footer {
  background-color: #f8f8f8;
}

.footer-dvider {
  height: 2px;
  background-color: #25242080;
}

.footer-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #252420;
  text-decoration: none;
  transition: color 1s ease,
  opacity 1s ease;
  margin-bottom: 16px;
}
.footer-link:hover {
  color: #ff7500;
}
.footer-link:active {
  opacity: 0.6;
  color: #ff7500;
}

.list {
  list-style: none;
  display: flex; 
  margin-right: 16px;
}

.footer-sochels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-top: 56px;
}

.footer-line {
  height: 2px;
  margin-bottom:64px ;
}
.footerlist-dad {
  display: flex; 
}

.footer-list {
  list-style: none;
padding: 55px 0px;
margin-right: 68px;
width: 225px;
}
.list-none {
  padding-top: 0;
}
.footer-li {
  margin-bottom: 16px;

}
.icons-margine {
  margin-right: 16px;
}
